<div class="content-wrapper">

    <!-- Main content -->
    <section class="content" style="padding-top: 42px;">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Add Domain Details</h3>
            </div>
            <!-- /.box-header -->
            <div id="msg"></div>
            <!-- form start -->
            <form role="form" id="domainForm" name="domain">
              <div class="box-body">

                <div class="row">
                  
                  <div class="form-group col-md-6">
                    <label for="hostname">Host Name</label>
                    <span class="error pull-right" ng-show="domain.hostname.$dirty && domain.hostname.$invalid">required.</span> 
                    <select 
                      class="form-control hostname" 
                      style="width: 100%;" 
                      id="hostname"
                      name="hostname" 
                      
                      ng-required="true">

                      <option selected="selected" value="">Select Host</option>
                    </select>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="purchases">Purchases</label>
                    <span class="error pull-right" ng-show="domain.purchases.$dirty && domain.purchases.$error.required">required.</span> 
                    <input 
                      type="text" 
                      class="form-control" 
                      id="purchases" 
                      name="purchases"
                      ng-model="purchases" 
                      placeholder="Where You Purchases Domain" required />   
                  </div>
                  
                  <div class="form-group col-md-6">
                    <label for="name">Domain Name </label>
                    <span class="error pull-right" ng-show="domain.name.$dirty && domain.name.$error.required">required.</span>
                    <input 
                      type="text" 
                      class="form-control" 
                      id="name" 
                      name="name" 
                      placeholder="Domain Name" 
                      ng-model="name" required />
                  </div>
                  <div class="form-group col-md-6">
                    <label for="during">Time Period</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                      </div>
                      <input type="text" class="form-control pull-right during" id="during" name="during" placeholder="Time Period">
                    </div>
                    <input type="text" id="start_time" name="start_time" class="start_time" style="display: none;">
                    <input type="text" id="end_time" name="end_time" class="end_time" style="display: none;">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="username">UserName</label>
                    <span class="error pull-right" ng-show="domain.username.$dirty && domain.username.$error.required">required.</span> 
                    <input 
                      type="text" 
                      class="form-control" 
                      id="username" 
                      name="username" 
                      placeholder="UserName" 
                      ng-model="username" required />
                  </div> 
                  <div class="form-group col-md-6">
                    <label for="password">Password</label>
                    <span class="error pull-right" ng-show="domain.password.$dirty && domain.password.$error.required">required.</span> 
                    <input 
                      type="text" 
                      class="form-control" 
                      id="password" 
                      name="password" 
                      placeholder="Password"
                      ng-model="password" required />
                  </div>
                  <div class="form-group col-md-6">
                    <label for="clientname">Client Name</label>
                    <span class="error pull-right" ng-show="domain.clientname.$dirty && domain.clientname.$error.required">required.</span> 
                    <input 
                      type="text" 
                      class="form-control" 
                      id="clientname" 
                      name="clientname"
                      placeholder="Client Name" 
                      ng-model="clientname" required />
                  </div>
                  <div class="form-group col-md-6">
                    <label for="phone">Client's Phone No</label>
                    <span class="error pull-right" ng-show="domain.phone.$dirty && domain.phone.$error.required">required.</span>
                    <span class="error pull-right" ng-show="domain.phone.$dirty && domain.phone.$error.number">No letters</span> 
                    <span class="error pull-right" ng-show="domain.phone.$dirty && domain.phone.$error.minlength">too short!</span>
                    <span class="error pull-right" ng-show="domain.phone.$dirty && domain.phone.$error.maxlength">too long!</span> 
                    <input 
                      type="number" 
                      class="form-control" 
                      id="phone"
                      ng-minlength="10" 
                      ng-maxlength="10" 
                      name="phone" 
                      placeholder="Client's Phone No"
                      ng-model="phone" required />
                  </div>
                  <div class="form-group col-md-6">
                    <label for="url">URL</label>
                    <span class="error pull-right" ng-show="domain.url.$dirty && domain.url.$error.required">required.</span>
                    <span class="error pull-right" ng-show="domain.url.$dirty && domain.url.$error.url">not a valid URL!</span>
                    <input 
                      type="url" 
                      class="form-control" 
                      id="url" 
                      name="url" 
                      placeholder="URL"
                      ng-model="url" required />
                  </div>

                </div>

              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button ng-disabled="domain.$invalid" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
          <!-- /.box -->
        </div>
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>

<script type="text/javascript" src="renderer.js"></script>
<script type="text/javascript">
  $(function () {

    $('.during').daterangepicker(); //{format: 'MM/DD/YYYY'}

    $('.during').on('apply.daterangepicker', function(ev, picker) {
          var start_time = picker.startDate.format('YYYY-MM-DD');
          var end_time = picker.endDate.format('YYYY-MM-DD');
          $('.start_time').val(start_time);
          $('.end_time').val(end_time);
        });
    getHostName(function(err, data){
      if (err) {
            console.log("ERROR : ", err);            
        } else {
          var data1 = $.map(data, function (obj) {
              var value = { id : obj.id_host, text: obj.name }
              return value;
            });
          $(".hostname").select2({
              data: data1
            });
        }
      });
    $( "#domainForm" ).submit(function( e ) {
        var id_host = $('#hostname').val();
        var username = $('#username').val();
        var password = CryptoJS.AES.encrypt($('#password').val(), "1234");
        var buy_it = $('#purchases').val();
        var name = $('#name').val();
        var phone = $('#phone').val();
        var client_name = $('#clientname').val();
        var url = $('#url').val();
        var start_time = $('#start_time').val();
        var end_time = $('#end_time').val();
        var domainDate = { id_host, username, password, buy_it, name, phone, client_name, url, start_time, end_time };
        insertDomain(domainDate, function(res){
          console.log(res)
          var msg;
          if(res){
              msg = '<div class="alert alert-success alert-dismissible">'+
                    '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>'+
                    '<h4><i class="icon fa fa-check"></i> Successfull Insert!</h4></div>';
                    setTimeout(function(){ window.location.reload(); }, 1000);
            } else {
              msg = '<div class="alert alert-danger alert-dismissible">'+
                    '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>'+
                    '<h4><i class="icon fa fa-ban"></i> Fial Your Insert!</h4></div>';
                    setTimeout(function(){ window.location.reload(); }, 1000);
            }
            $('#msg').html(msg);
        });
        e.preventDefault();
      });
    
  });
</script>