  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Data Table With Full Features</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="domain-table" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Client</th>
                  <th>UserName</th>
                  <th>Password</th>
                  <th>Name</th>
                  <th>Url</th>
                  <th>End Date</th>
                  <th>Status</th>
                </tr>
                </thead>
                <tbody id="records_table">

                </tbody>
                <tfoot>
                <tr>
                  <th>Client</th>
                  <th>UserName</th>
                  <th>Password</th>
                  <th>Name</th>
                  <th>Url</th>
                  <th>End Date</th>
                  <th>Status</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
      </div>
      <!-- /.row -->
        <!-- Modal -->
       <!--  <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Domain Details</h4>
              </div>
              <div class="modal-body">
                <div class="table-responsive">
                  <table class="table">
                    <tbody>
                    <tr>
                      <th style="width:25%">Client's Name:</th>
                      <td id="cname"></td>
                    </tr>
                    <tr>
                      <th>Host Name:</th>
                      <td id="hostname"></td>
                    </tr>
                    <tr>
                      <th>Name:</th>
                      <td id="name"></td>
                    </tr>
                    <tr>
                      <th>Username:</th>
                      <td id="username"></td>
                    </tr>
                    <tr>
                      <th>Password:</th>
                      <td id="password"></td>
                    </tr>
                    <tr>
                      <th>Purchases:</th>
                      <td id="buy_it"></td>
                    </tr>
                    <tr>
                      <th>Phone No:</th>
                      <td id="phone"></td>
                    </tr>
                    <tr>
                      <th>Url:</th>
                      <td><a href="" target="_blank" id="url"></a></td>
                    </tr>
                    <tr>
                      <th>Start Data:</th>
                      <td id="start_date"></td>
                    </tr>
                    <tr>
                      <th>End Date:</th>
                      <td id="end_date"></td>
                    </tr>
                  </tbody></table>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div> -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

<script type="text/javascript" src="renderer.js"></script>
<script>
  $(function () {

    domainTable(function(err, data){
        if (err) {
            console.log("ERROR : ", err);            
        } else {

            $('#domain-table').DataTable({
              "paging": true,
              "lengthChange": true,
              "searching": true,
              "ordering": false,
              "info": true,
              "autoWidth": false,
              "data" : data,
              "columns": [
                { "data": "client_name" },
                { "data": "username" },
                { render: function (data, type, row) {
                        var decrypted = CryptoJS.AES.decrypt(row.password, "1234");
                        return decrypted.toString(CryptoJS.enc.Utf8);
                      }
                },
                { "data": "name" },
                { "data": "url", render: function (data, type, row) {
                                  return "<a href="+row.url+">"+row.url+"</a>";
                }},
                { "data": "end_time", render: function (data) {
                    var date = new Date(data);
                    var month = date.getMonth() + 1;
                    return (month.length > 1 ? month : "0" + month) + "/" + date.getDate() + "/" + date.getFullYear();
                }},
                { mRender: function ( data, type, row ) {
                        return "<a href='#!/view-domain?"+row.id+"' class='btn btn-info pull-right getid'><i class='fa fa-eye'></i></a>";
                      }
                }
              ]            
            }); 
        }    
    });
/*    $( "#domain-table" ).on('click', 'button', function(event){
        $('#myModal').modal('show');
        var id = $(this).val();
        domainViewMore(id, function(err, res) {
          if (err) {
            console.log("ERROR : ", err);            
          } else { 
            console.log(res);
            $('#cname').text(res[0].client_name);
            $('#hostname').text(res[0].id_host);
            $('#name').text(res[0].name);
            $('#username').text(res[0].username);
            $('#password').text(res[0].password);
            $('#buy_it').text(res[0].buy_it);
            $('#phone').text(res[0].phone);
            $('#url').text(res[0].url);
            $('#start_date').text(res[0].start_time);
            $('#end_date').text(res[0].end_time);
          }
        });
        event.preventDefault(); 
   });*/
     
  });
</script>
