  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
  	<section class="content-header">
      <h1>
        Host Details
      </h1>
    </section>
    <!-- Main content -->
    <section class="content">
	    <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="box box-solid">
            <div class="box-header with-border">
              <i class="fa fa-file-text-o"></i>

              <h3 class="box-title">Main Details</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
	          <div class="table-responsive">
	            <table class="table">
	              <tbody>
	              <tr>
	                <th>Client Name:</th>
	                <td id="cname"></td>
	              </tr>
	              <tr>
	                <th style="width:25%">Host Name:</th>
	                <td id="hostname"></td>
	              </tr>
	              <tr>
	                <th>Username:</th>
	                <td id="username"></td>
	              </tr>
	              <tr>
	                <th>Password:</th>
	                <td id="password"></td>
	              </tr>
	              <tr>
	                <th>Purchases:</th>
	                <td id="buy_it"></td>
	              </tr>
	              <tr>
	                <th>Phone No:</th>
	                <td id="phone"></td>
	              </tr>
	              <tr>
	                <th>Url:</th>
	                <td><a href="" target="_blank" id="url"></a></td>
	              </tr>
	              <tr>
	                <th>Start Data:</th>
	                <td id="start_date"></td>
	              </tr>
	              <tr>
	                <th>End Date:</th>
	                <td id="end_date"></td>
	              </tr>
	            </tbody></table>
	          </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- ./col -->
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

<script type="text/javascript" src="renderer.js"></script>
<script type="text/javascript">
$(function () {
	var url = window.location.hash;
	var id = url.substring(url.indexOf("?")+1);
	domainViewMore(id, function(err, res){
		if (err) {
            console.log("ERROR : ", err);            
        } else {
        	var start_time = new Date(res[0].start_time);
            var month = start_time.getMonth() + 1;
            var start_time = (month.length > 1 ? month : "0" + month) + "/" + start_time.getDate() + "/" + start_time.getFullYear();
            var end_time = new Date(res[0].end_time);
            var month = end_time.getMonth() + 1;
            var end_time = (month.length > 1 ? month : "0" + month) + "/" + end_time.getDate() + "/" + end_time.getFullYear();
			$('#cname').text(res[0].client_name);
            $('#hostname').text(res[0].id_host);
            $('#name').text(res[0].name);
            $('#username').text(res[0].username);
            var decrypted = CryptoJS.AES.decrypt(res[0].password, "1234");
            $('#password').text(decrypted.toString(CryptoJS.enc.Utf8));
            $('#buy_it').text(res[0].buy_it);
            $('#phone').text(res[0].phone);
            $('#url').text(res[0].url);
            $('#start_date').text(start_time);
            $('#end_date').text(end_time);
        }
	});
});
</script>

